.animation {
    background-color: rgba(11, 46, 42, 0.396);
    width: 350px;
    height: 430px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
}

header {
    height: 100px;
    background-color: rgba(11, 46, 42, 0.709);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    padding-left: 3px;
}

ul {
    display: flex;
    list-style-type: none;
}

ul li a {
    padding: 0 20px;
    text-decoration: none;
    color: bisque;
    display: inline-block;
}
li a::after{
    content: '';
    display: block;
    height: 4px;
    width: 0;
    background: #c4c4c4;
    transition:all .5s
}
li a:hover::after{
    width: 100%;
}

main {
    display: flex;
    height:(calc(100wh - 100px));
    align-items: center;
    justify-content: center;
}

.contL{
    width: 30%;
}
.contR{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    background-color: ;
}
.logo {
    display: flex;
    flex-direction: row;
}
.animation{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
main h1{
    font-size: 37px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 8px;
}
main h2{
    font-weight:300;
}

main p{
    font-size: 14px;
    font-weight: 400;
    color: #333;   
}

.cta{
    padding: 15px, 30px;
    outline: navajowhite;
    border: none;
    background: #c4c4c4;
    border-radius: 50px;
    padding: 10px;
}
.cta:hover{
    scale: 113%;
}